body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo {
  /* height: 25%; */
  width: 15%;
  cursor: pointer;
}
h2{
  border-width: 25px;
  border-color: black;
}
table{
  margin: 25px;
  background-color: beige;
  border-color: black;
}

tr{
  padding: 25px;
  border-color: black;
}

td{
  border-color: darkgreen;
}

thead{
  background-color: coral;
}